node_modules
.browser_modules
browser-app/webpack.config.js
browser-app/lib
browser-app/node_modules
browser-app/src-gen
electron-app/webpack.config.js
electron-app/lib
electron-app/node_modules
electron-app/src-gen
node_modules
.git
.vscode
yarn.lock
lib
*.log
*-app/*
!*-app/package.json
